body {
  font-family: "Arial", sans-serif;
  background-color: #881a82;
  margin: 0;
  padding: 20px;
}

.app-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #ffffff57;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #ffffff9d;
  text-align: center;
  margin-bottom: 20px;
}

.task-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.add-button {
  padding: 10px 20px;
  background-color: #52164afd;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #af1da8;
}

.finished-task {
  text-decoration: line-through;
}
.task-list {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  align-items: center; /* Align items vertically */
  background-color: #f9f9f9bd;
}

.task-name {
  flex-grow: 1; /* Task name occupies available space */
}

.task-actions {
  display: flex;
  align-items: center; /* Align items vertically */
}

.task-actions button {
  margin-left: 10px; /* Add space between buttons */
}
